@tailwind base;
@tailwind components;
@tailwind utilities;

.padding {
  padding: 0rem 7rem;
}
.cart-icon {
  font-size: 25px;

  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
.cart-item-qty {
  position: absolute;
  right: -8px;
  top: -14px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}
.slide-card {
  transition: transform 0.3s ease-in-out;
}

.slide-card-content {
  transition: transform 0.3s ease-in-out;
}

.slide-card-hovered .slide-card-content {
  transform: scale(1.5);
}

.product-name {
  font-weight: 500;
}
.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: black;
}
